1. What is the result of print(type([])) is list

In [1]:
print(type([]))

<class 'list'>

2. What is the data type of the following

In [2]:
aTuple = (1, 'Jhon', 1+3j)
print(type(aTuple[2:3]))

<class 'tuple'>

3. What is the output of print(type({})) is set

In [3]:
print(type({}))

<class 'dict'>

4. Output of the following code.

In [4]:
if any([True, False, False, False]) == True:
    print('Yes, there is True')

Yes, there is True

<b>5. What built-in list method would you use to remove items from a list?</b>

a) .delete() method

b) pop(my_list)

c) del(my_list)

d) .pop() method

6. What would this expression return?

In [5]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']

list(enumerate(college_years, 2019))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

a) [('Freshman', 2019), ('Sophomore', 2020), ('Junior', 2021), ('Senior', 2022)]

b) [(2019, 2020, 2021, 2022), ('Freshman', 'Sophomore', 'Junior', 'Senior')]

c) [('Freshman', 'Sophomore', 'Junior', 'Senior'), (2019, 2020, 2021, 2022)]

d) [(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

<b>7. What is the purpose of the if-else statement in Python?</b>

a) It is used to define a loop in Python.

b) It is used to perform arithmetic calculations in Python.

c) It is used to make decisions and execute different blocks of code based on a condition.

d) It is used to declare variables in Python.

<b>8. When does a for loop stop iterating?</b>

a) when it encounters an infinite loop

b) when it encounters an if/else statement that contains a break keyword

c) when it has assessed each item in the iterable it is working on or a break keyword is encountered

d) when the runtime for the loop exceeds O(n^2)

<b>9. What is key difference between a set and a list?</b>

a) A set is an ordered collection unique items. A list is an unordered collection of non-unique items.

b) Elements can be retrieved from a list but they cannot be retrieved from a set.

c) A set is an ordered collection of non-unique items. A list is an unordered collection of unique items.

d) A set is an unordered collection unique items. A list is an ordered collection of non-unique items.

<b>10. Given the following three list, create a new list that matches the desired output printed below?</b>

fruits = ['Apples', 'Oranges', 'Bananas']

quantities = [5, 3, 4]

prices = [1.50, 2.25, 0.89]

<b>#Desired output</b>

[('Apples', 5, 1.50),
 
('Oranges', 3, 2.25),
 
('Bananas', 4, 0.89)]

In [6]:
fruits = ['Apples', 'Oranges', 'Bananas']

quantities = [5, 3, 4]

prices = [1.50, 2.25, 0.89]

m = list(zip(fruits,quantities,prices))
m

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

**11. Which operator is used for string concatenation in Python?**

a) +

b) -

c) *

d) /

**12. a) Which operator is used for modulus in Python?**

a) **

b) *

c) //

d) %

**13. How many times will the following for loop iterate in Python: for i in range(5):?**

a) 4 times

b) 5 times

c) 6 times

d) Infinite times

**14. How do you access the third element of a list named my_list in Python?**

a) my_list[3]

b) my_list[2]

c) my_list[4]

d) my_list[1]

**15. Which of the following options is NOT a valid rule for naming variables in Python?**

a) Variable names can contain letters, numbers, and underscores.

b) Variable names cannot start with a number.

c) Variable names are case-sensitive.

d) Variable names can contain spaces.

### Assessment Questions

**1. Use for, .split(), and if to create a Statement that will print out words that start with 's':**

st = 'Print only the words that start with s in this sentence'

**2. Use range() to print all the even numbers from 0 to 10.**

**3. Go through the string below and if the length of a word is even print "even!"**

st = 'Print every word in this sentence that has an even number of letters'

**4. Write a program that prints the integers from 1 to 100. But for multiples of three print "Hi, I'm 3" instead of the number, and for the multiples of five print "Hi, I'm 5". For numbers which are multiples of both three and five print "Hi, I'm both 3 and 5".**

**5. Write a program that takes a string as input and converts all lowercase letters to uppercase and vice versa. For example, if the input is "Hello, Class", the output should be "hELLO, cLASS".**

In [14]:
s = input("Enter String:- ")
g=''
for x in s:
    if x.islower():
        g += x.upper()
    elif x.isupper():
        g += x.lower()
    else:
        g += x
print(g)

Enter String:- HImani
hiMANI

**6. Check given number is prime or not**

In [31]:
num = int(input("Enter a number: "))

if num <= 1:
    print(num, "is not a prime number.")
else:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            print(num, "is not a prime number.")
        else:
            print(num, "is a prime number.")

Enter a number: 13
13 is a prime number.
13 is a prime number.

**7. Print star pattern for your name.**

In [44]:
rows = 5
columns = 5

for i in range(rows):
    for j in range(columns):
        if j == 0 or j == 4 or i == rows // 2:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*   *
*   *
*****
*   *
*   *

In [43]:
rows = 7
columns = 6

for i in range(rows):
    for j in range(columns):
        if j == 0 or (j == columns - 1 and (i != 0 and i != rows // 2)) or\
        ((i == 0 or i == rows // 2) and j < columns - 1):
            print("*", end="")
        else:
            print(" ", end="")
    print()

*****
*    *
*    *
*****
*    *
*    *
*    *

**8. Accept 10 numbers from user and display average**

In [35]:
numbers = []
s = 0

for i in range(10):
    num = float(input("Enter number {}: ".format(i + 1)))
    numbers.append(num)
    s += num

average = s / 10
print("Average:", average)

Enter number 1: 1
Enter number 2: 3
Enter number 3: 3.4
Enter number 4: 10
Enter number 5: 1
Enter number 6: 12
Enter number 7: 10
Enter number 8: 4
Enter number 9: 3.6
Enter number 10: 2
Average: 5.0

**9. WAP to display only numbers which are divisble by 11 but not 2 between 100 to 500**

In [36]:
for num in range(100, 501):
    if num % 11 == 0 and num % 2 != 0:
        print(num)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

**10. Print 1 to 20 numbers except multiples of 2 and 3**

In [37]:
for num in range(1, 21):
    if num % 2 != 0 and num % 3 != 0:
        print(num)

1
5
7
11
13
17
19

In [45]:
rows = 7
columns = 5

for i in range(rows):
    for j in range(columns):
        if j == 0 or (i == j + 2 and j > 0) or (i == j - 2 and j > 2) or (i == rows // 2 and j > 0) or (i == rows - 1 and j > 1):
            print("*", end="")
        else:
            print(" ", end="")
    print()

*
*  *
*   *
*****
* *
*  *
* ***