### Sets
* Sets are unordered collection of data items. 
* They store multiple items in a single variable.
* Sets items are separated by commas and enclosed within curly brackets {}. 
* Sets are unchangeable, meaning you cannot change items of the set once created. 
* Sets do not contain duplicate items.

In [ ]:
s=set()
type(s)

In [ ]:
# create a set

s = {1,2,3}
s

In [ ]:
#Using .add keyword we able to add element in the set

s.add(4)

In [ ]:
s

In [ ]:
# Try to add the same element

s.add(3)
s

Notice how it won't place another 3 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [ ]:
# Create a list with repeat elements

m = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
s = set(m)
s

In [ ]:
# any type of elements can be added in the set

info = {"Carla", 19, False, 5.9, 19}
print(info)

In [ ]:
#  use the update() method to add it into the existing set.

cities = {"Pathankot", "Mohali", "Dharmpur", "Shimla"}
cities2 = {"Shimla", "Solan", "Kasuli","Mohali"}

cities.update(cities2)
print(cities)

In [ ]:
# the union() method returns a new set 

cities3 = cities.union(cities2)
print(cities3)

The union() and update() methods prints all items that are present in the two sets. The union() method returns a new set whereas update() method adds item into the existing set from another set.

### intersection and intersection_update():

The intersection() and intersection_update() methods prints only items that are similar to both the sets. The intersection() method returns a new set whereas intersection_update() method updates into the existing set from another set.

In [ ]:
cities = {"Pathankot", "Mohali", "Dharmpur", "Shimla"}
cities2 = {"Shimla", "Solan", "Kasuli","Mohali"}

cities3 = cities.intersection(cities2)
print(cities3)

In [ ]:
cities.intersection_update(cities2)
print(cities)

### symmetric_difference and symmetric_difference_update()

The symmetric_difference() and symmetric_difference_update() methods prints only items that are not similar to both the sets. The symmetric_difference() method returns a new set whereas symmetric_difference_update() method updates into the existing set from another set.

In [ ]:
cities = {"Pathankot", "Mohali", "Dharmpur", "Shimla"}
cities2 = {"Shimla", "Solan", "Kasuli","Mohali"}

cities3 = cities.symmetric_difference(cities2)
print(cities3)

In [ ]:
cities.symmetric_difference_update(cities2)
print(cities)

### difference() and difference_update()

The difference() and difference_update() methods prints only items that are only present in the original set and not in both the sets. The difference() method returns a new set whereas difference_update() method updates into the existing set from another set.

In [ ]:
cities = {"Pathankot", "Mohali", "Dharmpur", "Shimla"}
cities2 = {"Shimla", "Solan", "Kasuli","Mohali"}

cities3 = cities.difference(cities2)
print(cities3)

In [ ]:
cities.difference_update(cities2)
print(cities)

### remove() and discard() methods

In [ ]:
cities = {"Pathankot", "Mohali", "Dharmpur", "Shimla","Kullu"}

cities.remove("Kullu")
print(cities)

In [ ]:
cities = {"Pathankot", "Mohali", "Dharmpur", "Shimla"}

cities.discard("Mohali")
print(cities)

The main difference between remove and discard is that, if we try to delete an item which is not present in set, then remove() raises an error, whereas discard() does not raise any error.

In [ ]:
cities.discard("Mohali")
print(cities)

In [ ]:
cities.remove("Mohali")
print(cities)

### isdisjoint()

The isdisjoint() method checks if items of given set are present in another set. This method returns False if items are present, else it returns True.

In [ ]:
#check if items of a particular set are present in another set

cities = {"Pathankot", "Mohali", "Dharmpur", "Shimla"}
cities2 = {"Shimla", "Solan", "Kasuli","Mohali"}

print(cities.isdisjoint(cities2))

### issubset()

The issubset() method checks if the items of the original set are present in the particular set. It returns True if the items are present, else it returns False.

In [ ]:
cities = {"Pathankot", "Mohali", "Dharmpur", "Shimla"}
cities2 = {"Dharmpur"}

print(cities2.issubset(cities))

## Dictionaries

**Mappings** are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


* Dictionaries are ordered collection of data items.
* They store multiple items in a single variable.
* Dictionaries items are key-value pairs that are separated by commas and enclosed within curly brackets {}.

In [ ]:
d=dict()
d

In [ ]:
# Make a dictionary with {} and : to signify a key and a value

my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# dictionaries are very flexible in the data types they can hold. For example:

info = {
    'name':'Karan',
    'age':19, 
    'eligible':True
}

print(info)

In [ ]:
# Accessing single values

# Values in a dictionary can be accessed using keys. 
# We can access dictionary values by mentioning keys either in square brackets 
# or by using get method.

info = {'name':'Karan', 'age':19, 'eligible':True}

print(info['name'])
print(info.get('age'))

In [ ]:
# print all the values in the dictionary using values() method.

print(info.values())

In [ ]:
# print all the keys in the dictionary using keys() method.

print(info.keys())

In [ ]:
# print all the key-value pairs in the dictionary using items() method

print(info.items())

In [ ]:
# create a new key and assign a value to it

# update() method updates the value of the key provided to it 
#if the item already exists in the dictionary, 
#else it creates a new key-value pair.

info.update({'age':20})
info.update({'DOB':1995})
print(info)

In [ ]:
# use the del keyword to remove a dictionary item. 

del info['age']
print(info)

In [ ]:
# use the copy() method to copy the contents of one dictionary 
# into another dictionary.

newDict = info.copy()
print(newDict)

In [ ]:
# use the dict() function to make a new dictionary with the items of 
# original dictionary.

new = dict(info)
print(new)

In [ ]:
info = {'name':['Karan','Suraj'], 'age':[19,20], 'eligible':True}

# call names using keys

info['name']

In [ ]:
# Access Suraj from the dictionary

info['name'][1]

In [ ]:
# Even call methods on that value

info['name'][1].upper()

In [ ]:
# affect the values of a key as well.

# Subtract 3 from the value

info['age'][1] = info['age'][1] - 3

In [ ]:
info['age'][1] -= 3

In [ ]:
info

In [ ]:
# Create dictionary with duplicate keys
d1 = {"1": 1, "1": 2}
print(d1)

# It will only print one key, although no error was thrown
# If we  try to access this key, then it'll return 2, 
# so the value of the second key

print(d1["1"])

### Nesting with Dictionaries

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary

d = {'key1':{'nestkey':{'subnestkey':'value'}}}
d

In [ ]:
# Keep calling the keys

d['key1']['nestkey']['subnestkey']

In [ ]:
# Create a two-element dictionary using curly brackets

d2 = {"Rishabh": {"Age": 27, "Hometown": "Shimla"},
      "Taarun": {"Age": 25, "Hometown": "Kullu"}}

In [ ]:
print(d2["Rishabh"]["Age"])

In [ ]:
course_name = Data science, Python, Cyber security

batch_size = 30, 40, 20

duration = 4, 5, 3

Python----> batch size and duration

In [ ]:
dict={
    'course_name':['Data science', 'Python', 'Cyber security'],
    'batch_size':[30, 40, 20],
    'duration':[4,5,3]
}
print(dict['course_name'][1])
print(dict['batch_size'][1])
print(dict['duration'][1])

### Booleans and None Type

In [ ]:
# Set object to be a boolean

a = True

type(a)

In [ ]:
# None placeholder

b = None

In [ ]:
type(b)

### Comparison Operators

<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

### Equal

In [1]:
2==4

False

In [2]:
4==4

True

In [3]:
'Hi'=='Bye'

False

In [4]:
'Hi'=='Hi'

True

### Not Equal

In [5]:
'Hi' != 'Bye'

True

In [6]:
3 != 3

False

### Greater Than

In [7]:
4>2

True

In [8]:
2>4

False

### Less Than

In [9]:
2<4

True

In [10]:
3<2

False

### Greater Than or Equal to

In [11]:
2>=2

True

In [12]:
3>=4

False

### Less than or Equal to

In [13]:
2<=2

True

In [14]:
3<=1

False

### Chained Comparison Operators or Logical Operators

In [15]:
1 < 2 < 3

True

In [17]:
1<2 and 2>3

False

In [18]:
1 < 3 > 2

True

In [19]:
1<3 and 3>2

True

In [20]:
1==2 or 2<3

True

In [21]:
1==1 or 100==1

True

In [22]:
x = False

not x

True

### User Inputs

In [25]:
x = input("Enter any thing:")

Enter any thing:10

In [27]:
type(x)

str

In [31]:
y = int(input("Enter value:"))

Enter value:20

In [32]:
y

20

In [33]:
x>y

TypeError: '>' not supported between instances of 'str' and 'int'

In [34]:
x<y

TypeError: '<' not supported between instances of 'str' and 'int'

### Arithmatic Operators


<h2> Table of Arithmatic Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
<td>a+b</td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
<td>a-b</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [35]:
a=20
b=30

a+b

50

In [36]:
a-b

-10

In [37]:
a*b

600

In [38]:
a/b

0.6666666666666666

In [39]:
a//b

0

In [40]:
#power
c=2

a**c

400

In [41]:
#square root

a**0.5

4.47213595499958

In [45]:
import math

a=20

g = math.sqrt(a)
g

4.47213595499958