### List

* Lists are one of the most powerful data structures in python
* An empty list is created using list() function
* List need not be always homogeneous.
* A single list can contain strings, integers, as well as other objects. 
* Lists can also be used for implementing stacks and queues.
* Lists are mutable, i.e., they can be altered once declared

In [1]:
L=list()or []

In [2]:
type(L)

list

In [3]:
L = [1,"a","string",1+2,1.1,1+2j]

In [4]:
L

[1, 'a', 'string', 3, 1.1, (1+2j)]

In [5]:
# Append 9 in given list L

L.append(9)

In [6]:
L

[1, 'a', 'string', 3, 1.1, (1+2j), 9]

In [7]:
# Pop last value or element from the list

L.pop()
L

[1, 'a', 'string', 3, 1.1, (1+2j)]

In [8]:
# Delete value placed at third position

del L[2]
L

[1, 'a', 3, 1.1, (1+2j)]

In [9]:
# Create list of pizzas
# Positive Indexing

pizza_type = ["Small", "Medium", "Large"]
#              [0]      [1]        [2]

In [10]:
# insert extra large in the list at place fourth

pizza_type.insert(4, "Extra Large")   #inserts item at index start with 1

print(pizza_type)

['Small', 'Medium', 'Large', 'Extra Large']

In [11]:
# Negative Indexing

pizza_type = ["Small", "Medium", "Large", "Extra Large"]
#               [-4]    [-3]     [-2]      [-1]
print(pizza_type[-1])
print(pizza_type[-3])

Extra Large
Medium

In [12]:
animals = ["cat", "dog", "bat",
           "mouse", "pig", "horse", "donkey", 
           "goat", "cow"]

print(animals[3:7]) #using positive indexes
print(animals[-7:-2]) #using negative indexes

['mouse', 'pig', 'horse', 'donkey']
['bat', 'mouse', 'pig', 'horse', 'donkey']

In [17]:
#Example print alternate values

animals = ["cat", "dog", "bat", "mouse", "pig", 
           "horse", "donkey", "goat", "cow"]

print(animals[0:9:2]) #using positive indexes
print(animals[-9:-1:2]) #using negative indexes

['cat', 'bat', 'pig', 'donkey', 'cow']
['cat', 'bat', 'pig', 'donkey']

In [18]:
# Example: printing every 3rd consecutive within a given range

animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[0:8:3])

['cat', 'mouse', 'donkey']

In [19]:
#add a list to a list
colors = ["voilet", "indigo", "blue"]
rainbow = ["green", "yellow", "orange", "red"]

colors.extend(rainbow)
print(colors)

['voilet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

In [20]:
#concatenate two lists:

colors = ["voilet", "indigo", "blue", "green"]
colors2 = ["yellow", "orange", "red"]

print(colors + colors2)

['voilet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

In [21]:
# remove item

colors = ["voilet", "indigo", "blue", "green", "yellow"]
colors.remove("blue")

print(colors)

['voilet', 'indigo', 'green', 'yellow']

In [26]:
#del item

colors = ["voilet", "indigo", "blue", "green", "yellow"]
print(colors)

del colors

#print(colors)

['voilet', 'indigo', 'blue', 'green', 'yellow']

In [27]:
print(colors)

NameError: name 'colors' is not defined

In [28]:
#clear list

colors = ["voilet", "indigo", "blue", "green", "yellow"]

colors.clear()

print(colors)

[]

In [29]:
# change/replace items in the list

names = ["Aaush", "Rajat", "Pragiti", "Natasha", "Suraj"]

names[2] = "Neha"

print(names)

['Aaush', 'Rajat', 'Neha', 'Natasha', 'Suraj']

In [30]:
# * for a duplication method similar to string

names * 2

['Aaush',
 'Rajat',
 'Neha',
 'Natasha',
 'Suraj',
 'Aaush',
 'Rajat',
 'Neha',
 'Natasha',
 'Suraj']

Note that lists indexing will return an error if there is no element at that index. For example:

In [31]:
names[10]

IndexError: list index out of range

In [32]:
# sort method and the reverse methods

names.reverse()

In [33]:
names

['Suraj', 'Natasha', 'Neha', 'Rajat', 'Aaush']

In [34]:
#Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)

names.sort()

In [35]:
names

['Aaush', 'Natasha', 'Neha', 'Rajat', 'Suraj']

In [37]:
## whether the element is present in list or not

'deep' in names

False

### Nested List

Python data structures support *nesting*. This means we can have data structures within data structures.

In [38]:
# Let's make three lists
m=[1,2,3]
n=[4,5,6]
o=[7,8,9]

# Make a list of lists to form a matrix
matrix = [m,n,o]

In [39]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [40]:
matrix[0]

[1, 2, 3]

In [41]:
matrix[0][1]

2

### Questions

1. Create a list called my_list having element 1,2,3,4,5.
2. Access elements using indexing at position first and fourth.
3. Get the element from the list like [2,3,4].
4. Remove 3 from the list.
5. Get the length of the list.

### Tuples

* Tuples are ordered collection of data items. 
* They store multiple items in a single variable. 
* Tuple items are separated by commas and enclosed within round brackets (). 
* Tuples are unchangeable meaning we can not alter them after creation.

In [42]:
t=()
type(t)

tuple

In [43]:
t = (1,2,3,4,3,1)
t

(1, 2, 3, 4, 3, 1)

In [45]:
# access first element of the tuple

t[2]

3

In [47]:
# replace first element with new

t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [48]:
t.append('no')

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
#Tuples with different data types

details = ("Yash", 18, "Puneet", 9.8)

print(details)

('Yash', 18, 'Puneet', 9.8)

In [50]:
# Create a tuple having name animals

animals = ("cat", "dog", "bat", "mouse", 
           "pig", "horse", "donkey", "goat", "cow")

In [51]:
# print alternate values in each tuple

print(animals[::2])

('cat', 'bat', 'pig', 'donkey', 'cow')

In [52]:
# concatenate tuples

countries = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")

southEastAsia = countries + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'ShriLanka', 'Vietnam', 'India', 'China')

### Unpack Tuples

In [1]:
info = ("Himani", 40, "NIT")
(name, age, university) = info
print("Name:", name)
print("Age:",age)
print("Studied at:",university)

Name: Himani
Age: 40
Studied at: NIT

In [5]:
#But what if we have more number of items then the variables?

pets = ("cat", "dog", "horse", "pig", "parrot", "gold fish")

(x,*y,z) = pets

print("Animals:", x)
print("Bird:", y)
print("Fish:", z)

Animals: cat
Bird: ['dog', 'horse', 'pig', 'parrot']
Fish: gold fish

In [6]:
# Convert tuple to a list

my_detail=list(info)

type(my_detail)

list

In [7]:
# replace first element with new

my_detail[0] = 'NEW'

my_detail

['NEW', 40, 'NIT']

### Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do.

In [8]:
# Use .index to enter a value and return the index

info = ("Himani", 40, "NIT")

info.index('NIT')

2

In [9]:
info.index(40)

1

In [11]:
# Use .count to count the number of times a value appears
t = (1,2,3,4,3,1)

t.count(3)

2

### When to use Tuples ?

### Questions

1. Create a tuple having elements 1,Piyush,30,Data,9,Dance
2. Slice the elements Piyush,30
3. Change tupe to list and add element Scientist to it
4. Unpack tuple into course_name, batch_size, duration from tuple ("Data Science",30,3)
5. Print 4 element from the created tuple

In [13]:
t=(1,'Piyush',30,'Data',9,'Dance')
t

(1, 'Piyush', 30, 'Data', 9, 'Dance')

In [14]:
t[1:3]

('Piyush', 30)

In [15]:
x = list(t)

In [16]:
x.append('Scientist')

In [17]:
x

[1, 'Piyush', 30, 'Data', 9, 'Dance', 'Scientist']

In [18]:
course_name, batch_size, duration = ("Data Science",30,3)
course_name

'Data Science'

In [19]:
 batch_size

30

In [20]:
duration

3

In [21]:
t[0:4]

(1, 'Piyush', 30, 'Data')