### lambda expressions

Lambda Functions are anonymous function means that the function is without a name. The lambda keyword is used to define an anonymous function in Python.

<b> Syntax: lambda arguments: expression </b>

1. This function can have any number of arguments but only one expression, which is evaluated and returned.
2. One is free to use lambda functions wherever function objects are required.
3. lambda functions are syntactically restricted to a single expression.

In [1]:
def times(var):
    return var*2

times(5)

10

In [2]:
lambda var: var*2

In [3]:
t = lambda var: var*2

t(5)

10

#### Python Lambda Function with List Comprehension

In [32]:
even = [lambda x: x * 10 for x in range(1, 5)]
 
# iterate on each lambda function
# and invoke the function to get the calculated value
for i in even:
    print(i(2))

20
20
20
20

### Questions

1. Write a lambda function to find the average of a list of numbers. n=[1,2,3,4,5]
2. Write a lambda function to check if a number is divisible by 3.

In [34]:
p = lambda var:var%3==0
p(5)

False

In [35]:
p(3)

True

## map and filter


map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)


The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not. 


#### Filter out all odd numbers using filter() and lambda function

#### Python Lambda Function with if-else

In [36]:
x = lambda a, b : a if(a > b) else b
 
print(x(10, 15))

15

In [37]:
def times(var):
    return var*2

seq = [1,2,3,4,5]

map(times,seq)

In [38]:
list(map(times,seq))

[2, 4, 6, 8, 10]

In [41]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [42]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

t = lambda x: (x % 2 != 0)

m = filter(t,li)

f = list(m)
print(f)

[5, 7, 97, 77, 23, 73, 61]

In [43]:
list(filter(lambda x:(x%2 != 0),li))

[5, 7, 97, 77, 23, 73, 61]

In [44]:
list(map(lambda x:(x%2 != 0),li))

[True, True, False, True, False, False, True, True, True, True]

<b>Question: Filter all people having age more than 18, using lambda and filter() function</b>

a = [13, 90, 17, 59, 21, 60, 5]

In [47]:
a = [13, 90, 17, 59, 21, 60, 5]

list(filter(lambda z: z>18,a))

[90, 59, 21, 60]

### Python Modules

Python modules are python files which contains python code that can be used within another python files ensuring simplicity and code reusability.

<b>Some built-in modules:</b>

csv, datetime, json, math, random, sqlite3, statistics, tkinter, turtle, etc.

In [48]:
# importing math module

import math

print(math.pi)
print("Sin(0) =", math.sin(0))
print("Cos(30) =", math.cos(math.pi/6))
print("Tanh(45) =", math.tanh(math.pi/4))

3.141592653589793
Sin(0) = 0.0
Cos(30) = 0.8660254037844387
Tanh(45) = 0.6557942026326724

### dir() function

lists all the function names (or variable names) in a module.

In [49]:
import math

lst1 = dir(math)
print(lst1)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [50]:
math.sqrt(5)

2.23606797749979

In [51]:
import datetime as dt


x = dt.datetime.now()
print(x)

2023-06-06 12:18:44.473214

In [55]:
x = dt.datetime(2023, 6, 5)

print(x.strftime("%a"))

Mon

In [56]:
x = dt.datetime(2023, 6, 5)

print(x.strftime("%b"))

Jun

In [59]:
x = dt.datetime(2023, 6, 5)

print(x.strftime("%Y"))

2023

In [65]:
import random 

names = ["piyush","karan","rishav","kartik"]

c = random.choice(names)

c

'rishav'

In [66]:
k = random.randint(0,100)
k

33

Note: `random.randint(a,b)` returns a random integer in range `[a, b]`, including both end points.

In [69]:
q = "expression"

word = random.sample(q, len(q))
word

['x', 'e', 's', 'o', 's', 'r', 'i', 'e', 'p', 'n']

### Creating and using module

Write code and save file with extension .py

In [70]:
import module

In [71]:
lst1 = dir(module)
print(lst1)

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'add', 'cube', 'square', 'sub']

In [72]:
num1 = int(input("First number:"))
num2 = int(input("Second number:"))

print("Add", module.add(num1, num2))
print("Sub", module.sub(num1, num2))
print("Square", module.square(num1))
print("Cube", module.cube(num2))

First number:12
Second number:7
Add 19
Sub 5
Square 144
Cube 343

### Using an alias:
alias can also use while importing module. So that, we do not need to write the whole name of the module while calling it.

In [ ]:
import module as m

num1 = int(input("First number:"))
num2 = int(input("Second number:"))

print("Add", m.add(num1, num2))
print("Sub", m.sub(num1, num2))
print("Square", m.square(num1))
print("Cube", m.cube(num2))

### Use an asterisk(*) while importing.

import everything from a module but we do not need to prefix module name again and again

In [3]:
from module import add, sub

num1 = int(input("First number:"))
num2 = int(input("Second number:"))

print("Add", module.add(num1, num2))
print("Sub", module.sub(num1, num2))
print("Square", module.square(num1))
print("Cube", module.cube(num2))

First number:1
Second number:1

NameError: name 'module' is not defined